---
---

<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div id="js-main" class="main">
            <div>
                    <header class="section-intro bgdark vertical-center">
                    <div class="container">
                    
                    <h1 class="headline" data-sr><strong>Lisa James Larsson</strong></h1>
                    
                    <nav id="js-nav" class="mainnav" data-sr="wait .25s">
                    <ul>
                     <li><a href="#featured" data-ga-event>Featured work</a></li
                    ><li><a href="#biography" data-ga-event>Biography</a></li
                    ><li><a href="#contact" data-ga-event>Contact</a></li>
                    </ul>
                    </nav>
                    
                    </div>
                    </header>
            </div>
            <section id="featured" class="featured">
                    <div class="featured-item" style="background-image: url(/assets/images/welcome-to-sweden/poster.jpg)">
                        <a href="#featured" class="work-link">
                            <div>
                            <h2>Movie1</h2>
                            dcdcdc
                            <p>Website</p>
                            <span>View project</span>
                            </div>
                        </a>
                    </div>
                    <div class="featured-item">
                            
                    </div>
                    <div class="featured-item">
                                
                    </div>
            </section>
            <section id="featured" class="featured">
                <ul class="work-list">
                    <li class="work-list-item" style="background-image: url(/assets/images/welcome-to-sweden/poster.jpg)">
                        <a href="#featured" class="work-link">
                        <div>
                        <h2>Movie1</h2>
                        dcdcdc
                        <p>Website</p>
                        <span>View project</span>
                        </div>
                        </a>
                    </li>
                    <li class="work-list-item">
                        <a href="#featured" class="work-link vertical-center">
                        <div>
                        <h2>Movie2</h2>
                        <p class="subheader headline">Website</p>
                        <span class="link-pseudo">View project</span>
                        </div>
                        </a>
                    </li>
                    <li class="work-list-item">
                        <a href="#featured" class="work-link vertical-center">
                        <div>
                        <h2>Movie3</h2>
                        <p class="subheader headline">Website</p>
                        <span class="link-pseudo">View project</span>
                        </div>
                        </a>
                    </li>
                </ul>
            </section>
    </div>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>