---
---
<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div id="js-main" class="main">
            <section class="section-start">
                <header>
                    <h1 class="headline"><strong>Lisa James Larsson</strong></h1>   
                </header>
                <nav id="js-nav" class="mainnav">
                    <ul>
                        <li><a href="#featured">Featured work</a></li
                        ><li><a href="#biography">Biography</a></li
                        ><li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
            </section>
            <section id="featured" class="featured-section">
            {% assign items = site.work | sort: 'date' %}
            {% for item in items reversed %}
                {% if item.featured %}
                    <div class="featured-item">
                        <img src="{{ item.poster }}" style="object-fit: scale-down;">
                        <a href="http://www.imdb.com/title/{{ item.imdb }}" class="work-link">
                        <div>
                            <h2>{{ item.title }}</h2>
                        </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            </section>

            <footer>
                
            </footer>
    </div>
    <script src="assets/js/vendor/scrollreveal.min.js"></script>
    <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/netlify.js"></script>
  </body>
</html>